<div class="py-10 container mx-auto bg-white px-2 lg:px-10">
  <%= button_to 'Open Gate', open_gate_path, data: { disable_with: "Please wait..." }, class: "mx-auto w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-10 px-4 lg:py-5 rounded" %>
</div>
